<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
   <link rel="stylesheet" href='../static/img/style.css' />
   <title>Document</title>
</head>
<body>
   <div class="header container">
      <div class="row">
         <div class="col"></div>
         <div class="header__logo col">
            <img class="header__logo__img" src="../static/img/depositphotos_494013044-stock-illustration-chemistry-formula-icon-molecule-isolated.jpg">
         </div>
         <div class="col"></div>
            <h1>Plotting binary</h1>
         <div class="header__endline"></div>
      </div>
   </div>
   <div class="examples container">
      <div class="examples__header">   
         <h2>See examples of binary plots</h2>
      </div>
      <div class="row">
         <div class="col"></div>
         <div class="col">
             <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                     <img src="../static/img/ex1.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                     <img src="../static/img/ex2.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                     <img src="../static/img/ex4.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                     <img src="../static/img/ex3.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                     <img src="../static/img/ex5.png" class="d-block w-100" alt="...">
                  </div>
               </div>
               <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
               </button>
               <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
               </button>
            </div>
         </div>
         <div class="col"></div>
   </div>
    <div class="examples__footer container">
       <div class="row">
         <div class="col"></div>
         <div class="col">
         <h2>Do you have an account?</h2>
         <div class="examples__footer__arrow">
            <span></span>
            <span></span>
            <span></span>
         </div>
         </div>
         <div class="col"></div>
      </div>
   </div>
   <div class="skip"></div>
   </div>
   <div class="row">
      <div class="col"></div>
      <div class="col">
    <div class="sing_up__sing_in">
       <div class="sing_up__sing_in__subclass">       
            <div class="sign_in" id="sign_in_form">
               <h2>Sign in</h2>
               <form action="/log_in", method="PUT" class="sing_up__sing_in__subclass__form">
                  <div class="input-group">
                     <span class="input-group-text">Login and Password</span>
                     <input type="text" aria-label="First name" class="form-control">
                     <input type="password" aria-label="Last name" class="form-control">
                  </div>
                  <button type="submit" class="btn btn-primary btn-lg">Sign in</button>
                  <button type="button" id="btn_sign_up" class="btn btn-secondary btn-lg">Sign up</button>
               </form>
            </div>
         </div>
            <div class="sign_up" id="sign_up_form">
               <h2>Sign up</h2>
                  <form action="/register", method="PUT" class="sing_up__sing_in__subclass__form">
                  <div class="input-group">
                     <span class="input-group-text">Login and invitation_password</span>
                     <input type="text" aria-label="First name" class="form-control">
                     <input type="password" aria-label="Last name" class="form-control">
                  </div>
                  <button type="button" id="btn_sign_in" class="btn btn-primary btn-lg">Sign in</button>
                  <button type="submit" class="btn btn-secondary btn-lg">Sign up</button>
               </form>
            </div>
      </div>
   </div>
      <div class="col"></div>
    </div>
   </div>
    <div class="footer">
      <div class="header__endline">

    </div>
   <script src="source.js"></script>
</body>
</html>